<div class="col-12 text-center text-info mt-5 mb-3 fs-5">
  APP TO DO LIST
</div>
<div class="container ">
  <div class="row p">
    <div class="col d-flex">
      <input type="text" [(ngModel)]="newTask" placeholder="INSEART THE TASK" class="form-control" id="up">
    
    
      <button  class="btn btn-sm btn-primary" (click)="addTask()" id="mode">ADD TASK</button>
    
  </div>


<div class="container">
<table class="table mt-5"  *ngIf="isAvilaple">
  <thead>
    <tr>
      <th class="col-8">TASK</th>
      <th class="col-2">UPDATE</th>
      <th class="col-2">DELATE</th>
    </tr>
  </thead>
  <tbody >
    @for(i of task ; track $index){
      <tr>
        <td>{{i}}</td>
        <td><button  type="button" class="btn btn-sm btn-primary" (click)="update($index)" id="UP" >UPDATE</button></td>
  
        <td><button type="button"  class="btn btn-sm btn-danger" (click)="delate($index)">DELETE</button></td>
  
      </tr>
    }
    
  </tbody>
</table>
</div>
<router-outlet />
